#formation-section {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h4 {
    color: var(--secondary-color);
    font-size: 8em;
    margin: 0;
}
h5 {
    font-size: 3em;
    color: var(--secondary-color);
    margin: 0px 0px 1em 0px;
}
.chart-container {
    width: 30%;
}
#myChart {
    aspect-ratio: auto !important; 
}
  
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    
}
li {
    padding-right: 1em;
    color: var(--secondary-color);
    font-size: 2em;
}

a {
    color: var(--secondary-color);
}
@media (max-width: 1383px) {
    .chart-container {
        width: 55%;
    }
}
@media (max-width: 855px) {
    .chart-container {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .flip-card-back p {
        font-size: 1.5em;
    }
    h4 {
        font-size: 4.5em; 
    }
    h5 {
        font-size: 2em;
    }
    .chart-container {
        width: 90%;
    }

}